<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Recuperar Clave</ion-title>
    <ion-buttons slot= "start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true" color="medium">
  <div class="ion-text-center">
    <h1>Duoc UC</h1>
    <ion-card id="container" color="medium">
      <br> <br>
      <strong>¿Olvidaste tu contraseña?</strong>
      <ion-grid fixed>
        <ion-row>
          <ion-col size=12>
            <ion-item color="medium">
              <ion-label position="floating"> Usuario </ion-label>
              <ion-input #nombre placeholder="Ingresar Nombre De Usuario"></ion-input>
            </ion-item>
          </ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size="12">  
            <ion-button (click)="recuperar(nombre)" fill="solid" shape="round"> 
              Recuperar
            </ion-button>
          </ion-col>
        </ion-row>
        <div *ngIf="error;">
          <ion-row>
            <ion-col size="12">
              <strong> {{error}}</strong>
            </ion-col>  
          </ion-row>
        </div>

      </ion-grid>


    </ion-card>
  </div>
</ion-content>
