<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="ion-text-center">
    <br>
    <img src="assets/img/man-user.png" alt="usuario" width="50px">
    <ion-text color="light" class="ion-text-center">
      <h1>RegistrAPP</h1>
    </ion-text>
  </div>

  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6"  size-lg offset="3">
          <ion-item color="medium">
            <ion-label style="font-size: 15pt" position="floating" ><ion-icon name="person-circle-outline"></ion-icon> Usuario:</ion-label>
            <ion-input style="font-size: 15pt" type="text" placeholder="Ricardo.M" #usuario></ion-input>
          </ion-item>
          
          <div *ngIf = "error">
            <ion-text color="warning">
              <p style="font-size: 13pt;">{{error}}</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" size-lg offset="3" >
          <ion-item color="medium">
            <ion-label style="font-size: 15pt" position="floating"><ion-icon name="bag-outline"></ion-icon> Clave:</ion-label>
            <ion-input style="font-size: 15pt" type="password" placeholder="********" #clave></ion-input>
          </ion-item>
          <div *ngIf = "error">
            <ion-text color="warning">
              <p style="font-size: 13pt;">{{error}}</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-button style="margin: 15px;" expand="block" shape="round" (click)="ingresar(usuario,clave)">
    Ingresar
  </ion-button>
  <ion-button style="margin: 15px;" expand="block" shape="round" [routerLink] = "['/recuperar']">
    Recuperar Clave
  </ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" type="button" (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-toolbar color="medium">
    <ion-title>Aplición de registro</ion-title>
  </ion-toolbar>
</ion-footer>

