<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" >
  <div class="ion-text-center">
    <img id="duoc" src="assets/img/duocuc.png" alt="duoc-uc" >
    <ion-text color="light">
      <h2>Bienvenido/a : {{usuario.nombre | titlecase}} {{usuario.paterno | titlecase}}</h2>
    </ion-text>
  </div>
  <br><br>
  <ion-button class="button" expand="block" color="success" shape="round" (click)="ver()">Registrar Asistencia</ion-button>
  <br>
  <ion-button class="button" expand="block" color="success" shape="round" (click)="ver()">Historial de Asistencia</ion-button>
</ion-content>

